---
import MainLayout from '@layouts/MainLayout.astro';
import { getCollection } from "astro:content";
import type { CollectionEntry, CollectionKey } from "astro:content";
import Tag from '@components/Tag.astro';
import BackBtn from '@components/BackBtn.astro';

import {formatDate} from '../../utils';

export async function getStaticPaths(){
    const allBlogArticles: CollectionEntry<'blog'>[] = await getCollection('blog');

    return  allBlogArticles.map(entry => ({
        params:{
            slug: entry.slug
        },
        props:{entry}
    }));
}

const { entry } = Astro.props;
const {Content} = await entry.render();

---


<MainLayout>

    <div class = "container">
        <BackBtn link = "/posts"></BackBtn>
        <h1>{entry.data.title}</h1>
        <h2>{formatDate(entry.data.pubDate)}</h2>
        <Tag tags = {entry.data.tags}></Tag>

        <Content>
        </Content>

    </div>

</MainLayout>

<style>
    .container{
        height:100%;
        width:100%;
        padding:20px;
        background-color:white;
        display:flex;
        flex-direction: column;
        color:#4D5E6A;
        font-size:1.2rem;
    }
</style>