---
const {article} = Astro.props;
import Tag from '@components/Tag.astro';
import {formatDate} from '../utils';
import type { CollectionEntry } from 'astro:content';

interface Props{
    article:CollectionEntry<'bible'>;
}
---

<a href = {`/biblePosts/` + article.slug} class = "card">
    <h1 class = "title"> {article.data.title}</h1>
    <h2 class = "date">{formatDate(article.data.pubDate)}</h2>
    <Tag tags = {article.data.tags}></Tag>
</a>
<audio id="click-sound" src="https://audio.jukehost.co.uk/lEvEFHUvNTZxQ6PTEagKi9B60t48m25K"></audio>

<style>
    .card{
        text-decoration:none;
        color:#91A3B0;
        background-color: darksalmon;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        padding:20px;
        width:80%;
        display: flex;
        flex-direction: column;
        gap:1em;
        font-family: "IBM Plex Mono", monospace;

    }
</style>
<script>
   document.addEventListener('DOMContentLoaded', () => {
    const card = document.querySelector('.card') as HTMLAnchorElement;
    const clickSound = document.getElementById('click-sound') as HTMLAudioElement;

    if (card && clickSound) {
        card.addEventListener('click', () => {
            clickSound.play();
        });
    }
});

</script>
